.error {
  font-size: var(--small-s);
  position: relative;
  margin: 0.5rem 0 0.5rem 0.5rem;
  color: var(--error);
  &::first-letter {
    text-transform: capitalize;
  }
}
.Input {
  width: 100%;
}
